.problem-card {
  flex: 1;
  padding: 25px;
  border: 2px solid var(--border);
  border-radius: 20px;
  background-color: var(--problem-card-bg);
  box-shadow: var(--shadow-md);
  transition: 0.3s ease;
}
.problem-card:hover {
  transform: translateY(-5px);
}
.icon {
  width: 60px;
  height: 60px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 2px solid var(--border);
  border-radius: 14px;

  background: var(--problem-icon-bg);
  margin-bottom: 18px;
}

.icon svg {
  font-size: 30px;
  color: var(--text);
}

.problem-card-title {
  font-size: 1.8rem;
  font-family: "Outfit", sans-serif;
  font-weight: 800;
  margin-bottom: 15px;
}
.problem-card-description {
  color:var(--text-secondary);
  font-family: "Inter", sans-serif;
  font-weight: 500;
  line-height: 1.7;
  font-size: 1.1rem;
}
